{"filter":false,"title":"config.xml","tooltip":"/config.xml","undoManager":{"mark":1,"position":1,"stack":[[{"group":"doc","deltas":[{"action":"insertText","range":{"start":{"row":42,"column":54},"end":{"row":43,"column":0}},"text":"\n"},{"action":"insertText","range":{"start":{"row":43,"column":0},"end":{"row":43,"column":4}},"text":"    "}]}],[{"group":"doc","deltas":[{"action":"insertText","range":{"start":{"row":43,"column":4},"end":{"row":43,"column":84}},"text":"<gap:plugin name=\"de.appplant.cordova.plugin.background-mode\" version=\"0.5.0\" />"}]}]]},"ace":{"folds":[],"scrolltop":230,"scrollleft":0,"selection":{"start":{"row":15,"column":46},"end":{"row":15,"column":46},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1406916050000,"hash":"61f3472ea9e144ea0a53000ae2f69922f5522b67"}